// ==========
// = Imports
// ==========
@import "includes/reset"
@import "includes/init"
@import "includes/global"


// ==========
// = General
// ==========
body
  color: #333
  color: $c-text
  +fonts('Roboto', 400)
  overflow-x: hidden


*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

  &::selection
    color: white
    background: $c-section-1

  &:focus
    outline: none
    outline: none
a
  color: inherit
  text-decoration: none

h1
  font-size: 2.5em
  padding: $spacer 0
  span
    font-size: .6em
    margin-left: $spacer
    color: #666
  img
    height: 25px
    display: inline
    margin-left: $spacer/2
    position: relative
    top: 2px
    // float: right


h2, h3, h4
  font-size: 1.5em
  font-weight: bold
  margin-bottom: $spacer * 1.5


p
  margin-bottom: $spacer * 1.5

img
  display: block

.container, %container
  max-width: $container-width
  display: flex
  margin: 0 auto
  position: relative

.fixed
  position: fixed
  top: 0

.flex
  display: flex
  align-items: flex-start

.uppercase
  text-transform: uppercase
// ===================
// = Navigation
// ===================
nav
  position: relative
  z-index: 100
  ul
    width: 100%
  li
    color: white
    text-transform: uppercase
    font-weight: bold
    a
      display: block
      padding: $spacer/2 $spacer
      @extend %container
      position: relative
      top: -15px
      transition: all, $time
      &::after, &::before
        content: ""
        position: absolute
        display: block
        border-style: solid
        bottom: -1em
        z-index: 99
      &::before
        right: 0
        border-width: 1em 0 0 1em
      &::after
        left: 0
        border-width: 1em 1em 0 0
      i
        position: absolute
        right: 1.5em
        font-size: 1.5em
        top: 5px
    &:hover a
      padding: $spacer $spacer

    &:last-of-type a
      padding: $spacer/2 $spacer


  li.nav-item-section-1, li.nav-item-section-1 a
    background: $c-section-1
    &::before, &::after
      border-color: $c-section-1 transparent transparent transparent
  li.nav-item-section-2, li.nav-item-section-2 a
    background: $c-section-2
    &::before, &::after
      border-color: $c-section-2 transparent transparent transparent
  li.nav-item-section-3, li.nav-item-section-3 a
    background: $c-section-3
    &::before, &::after
      border-color: $c-section-3 transparent transparent transparent
  li.nav-item-section-4, li.nav-item-section-4 a
    background: $c-section-4
    &::before, &::after
      border-color: $c-section-4 transparent transparent transparent
  li.nav-item-section-5, li.nav-item-section-5 a
    background: $c-section-5
    &::before, &::after
      border-color: $c-section-5 transparent transparent transparent
  li.nav-item-section-6, li.nav-item-section-6 a
    background: $c-section-6
    &::before, &::after
      border-color: $c-section-6 transparent transparent transparent
  li.nav-item-section-7, li.nav-item-section-7 a
    background: $c-section-7
    &::before, &::after
      border-color: $c-section-7 transparent transparent transparent
  li.nav-item-section-8, li.nav-item-section-8 a
    background: $c-section-8
    &::before, &::after
      border-color: $c-section-8 transparent transparent transparent
  li.nav-item-section-blank, li.nav-item-section-blank a
    background: white
    &::before, &::after
      display: none

  li.active a
    &::after, &::before
      bottom: -31px

  li:nth-of-type(1)
    padding-top: 15px
    &.active
      padding-top: 0
      a
        top: 0
        &::after, &::before
          bottom: -1em

// ===================
// = Content Page
// ===================
main
  .container
    display: block

  >div:first-of-type article
    &::before, &::after
      display: block
      content: ''
      width: 100%
      border-top: 1em solid
      position: absolute
      top: 0
    &::before
      left: 100%
    &::after
      right: 100%


.section-1
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-1
.section-2
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-2
.section-3
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-3
.section-4
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-4
.section-5
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-5
.section-6
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-6
.section-7
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-7
.section-8
  background: url(/img/bg-h1-01.jpg) top center repeat-x
  article:first-of-type::before, article:first-of-type::after
    border-color: $c-section-8

.content
  padding: 0 $spacer*2
  width: 100%
  h1
    color: white
    margin-bottom: $spacer*2
  p
    line-height: 1.2

// Type of content
.panel-text-columns-2
  column-count: 2
  column-gap: $spacer
  margin-bottom: $spacer*3

.panel-table
  margin-bottom: $spacer*3
  h2, th
    color: $c-section-1
    text-align: center
    text-transform: uppercase
    font-weight: bold
    padding: $spacer/2
  h2
    position: relative
    padding: $spacer*1.2
    &::after, &::before
      content: ''
      position: absolute
      top: 0
      height: 50px
      width: 50%
      background-size: auto 100%
      z-index: -1
    &::after
      left: 0
      background: url('/img/bg-h2-title-left.png') top left no-repeat
    &::before
      background: url('/img/bg-h2-title-right.png') top right no-repeat
      right: 0
  table
    margin: 0 auto $spacer auto
    width: 80%
    tr:nth-child(even)
      background-color: $light-blue
    td:nth-child(odd)
      text-align: right
    td
      padding: $spacer/3 $spacer
      width: 50%

// ===================
// = Hero
// ===================
.hero
  background: url('/img/bg-picture.jpg')
  background-size: cover
  color: white
  @extend %flex-center
  position: relative
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0,0,0,.4)
    z-index: 1
    top: 0
    left: 0
  >div
    // max-width: 900px
    height: 350px
    position: relative
    z-index: 99
  .flex
    align-items: center
    padding: 0 90px
  img
    height: 160px
    margin-right: $spacer
    padding-right: $spacer
    border-right: 1px solid white
  h1
    font-weight: bold
    margin: 0 0 $spacer 0
    font-size: 3em
    padding: 0
  h2
    font-size: 1.7em
    font-style: italic
  .download
    position: absolute
    bottom: 0
    right: 0
    color: $c-section-1
    text-transform: uppercase
    background: white
    padding: $spacer/2
    transition: all, $time
    i
      margin-left: 5px
    &:hover
      background: black
      color: white

  // As header
  &.small
    display: block
    .flex
      padding: 0
    .container
      height: 80px
      position: relative
      z-index: 99
    &::after
      background: rgba(0,0,0,.5)
    img
      height: 50px
    h1
      font-weight: bold
      margin: 0 0 $spacer/4 0
      font-size: 1.5em
      padding: 0
    h2
      font-size: .9em
      font-style: italic

// ===================
// = Footer
// ===================
footer
  background: $c-footer
  border-top: 1px solid #CCC
  font-size: 0.7em
  padding: $spacer/2
  img
    height: 60px
  li a, p
    padding: $spacer/4 0
    display: block
  p
      padding-bottom: 0

  .flex
    flex-basis: 40%
    justify-content: space-between
  .social-media
    padding-bottom: $spacer/2
    a
      color: $c-footer
      background: #777
      display: inline-block
      width: 25px
      line-height: 25px
      text-align: center
      border-radius: 100px
      margin-right: $spacer/2
      transition: all, $time
      &:hover
        background: $c-section-1

      &:last-of-type
        background: none
        color: #777
        transform: scale(2.5)
        position: relative
        top: 1px
        margin-left: 5px
        &:hover
          color: $c-section-1


  .container
    // justify-content: space-between
    >div
      border-right: 1px solid #CCC
      padding: $spacer/2
      &:last-of-type
        border: none

// ===================
// Responsive
// ===================
.image-responsive
  width: 100%
  height: auto

.image-padded
  width: 70%
  margin-left: auto
  margin-right: auto

@media screen and (max-width: 1000px)
  body
    color: red

// Tablet
@media screen and (max-width: $tablet)
  body
    color: red

// Phablet
@media screen and (max-width: $phablet)
  body
    color: red

// Mobile
@media screen and (max-width: $mobile)
  body
    color: red
