.section-2
  article.container
    .content
      h1 Panorama en la economía mexicana
      .panel-text
        p En 2017, la economía mexicana enfrentó una coyuntura internacional compleja debido a las amenazas proteccionistas del presidente de los Estados Unidos (EU) entre las cuales destacan: la renegociación o cancelación del TLCAN; la imposición de impuestos discrecionales a las exportaciones mexicanas; la deportación de 11 millones de indocumentados; la construcción del muro en la frontera; bloquear el envío de remesas a México y el aumento del costo de la visa a mexicanos. Con la salvedad de la renegociación del TLCAN, la cual era necesaria, estas amenazas no fueron materializadas en 2017, lo que se vio traducido en una mejora de las expectativas sobre la economía mexicana. Por otro lado el consumo tuvo una dinámica positiva. Aunado a esto, los precios internacionales del petróleo aumentaron su valor, lo que ocasionó mayores ingresos para las finanzas públicas. Sin embargo, el sector construcción continúa con el decrecimiento, por la poca inversión pública y la caída en la construcción privada.

        p No obstante este entorno y las políticas restrictivas monetaria y fiscal, México mostró un crecimiento del PIB en 2017 de 2.3% que es superior al estimado a principio de año, lo cual muestra la resiliencia de la economía a los shocks externos, con una inflación que en 2017 llegó a su tope y se espera que disminuya en el 2018 y un tipo de cambio que absorbe la volatilidad del entorno internacional y de los flujos de capital.

        p Las reformas estructurales en las áreas de energía, educación, competitividad, telecomunicaciones y sector financiero aprobadas en 2013 y 2014, iniciaron su implementación en 2015 y continúan al día de hoy con las licitaciones en el área de energía. Esto contribuirá a mejorar el crecimiento potencial de la economía en el mediano plazo al generar mayor inversión y empleo, así como al incorporar nuevas tecnologías, reducir los costos de producción e incrementar la productividad y la competencia.

        p En particular, la reforma energética en 2017 ya es un factor clave para reducir los costos de energía más allá de la coyuntura de precios actual. Además de estar atrayendo grandes inversiones de nuevos actores en el sector, además de que generará mayor eficiencia y autonomía de gestión para Petróleos Mexicanos (PEMEX) y la Comisión Federal de Electricidad (CFE).

      .panel-text
        h2 Sector Real

        p En 2017 el Producto Interno Bruto (PIB) creció 2.3%, lo que representó una desaceleración con respecto al crecimiento de 2.7% en el 2016, pero esta es mejor a lo esperado al inicio del año en que la encuesta de expectativas del sector privado de Banco de México pronosticaba un crecimiento de 1.6%.

.section-2
  article.container
    .content
      h1 Consejo directivo
      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd
