.section-3
  article.container
    .content
      h1 Estrategia de Negocios
      .panel-text
        p
          img(src="/img/mision_vision2.png").image-responsive
        p
          img(src="/img/objetivos_estrategias.png").image-responsive
        p
          img(src="/img/mision_vision.png").image-responsive.image-padded
