.section-8
  article.container
    .content
      h1 Mensaje del director
      .panel-text-columns-2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel purus congue, ornare eros eu, varius turpis. Duis sed tellus tempor elit viverra auctor vitae quis arcu. Mauris consectetur odio tristique lorem fermentum, vel fringilla purus iaculis. Aliquam venenatis erat ac lorem gravida, eu ultrices lorem pharetra. Praesent sed sollicitudin arcu. Fusce a cursus odio. Proin quis lectus nulla. Nunc rhoncus ante sed massa condimentum facilisis. Phasellus sit amet ex pulvinar, tincidunt nunc a, mattis ligula. Mauris a ante eget urna lacinia bibendum sed ac justo. Sed hendrerit tellus libero, in viverra lorem mattis sit amet. Cras et accumsan magna, vel volutpat ipsum. Cras nibh est, placerat sed orci a, efficitur fermentum turpis. Vivamus sed mattis lorem.

        p Pellentesque a gravida urna, porta venenatis mauris. Aenean commodo venenatis justo. Integer blandit augue ex, et congue dolor efficitur id. Suspendisse eget dolor at est viverra pretium eget aliquam libero. Maecenas gravida dictum blandit. Nullam tincidunt nunc at urna vulputate convallis. Aenean nec leo vel augue elementum viverra quis interdum urna. Suspendisse eu dolor tincidunt, rhoncus est in, placerat odio. Nullam ac nisi nulla. Integer ornare nec ex sit amet consequat. Vestibulum facilisis arcu sit amet arcu malesuada elementum.

        p Fusce ut mi facilisis, malesuada lectus ac, molestie lacus. Quisque elementum, eros sed sollicitudin pharetra, nibh neque efficitur tortor, nec sodales enim mi ut massa. Duis purus neque, rutrum vel egestas eu, posuere vel massa. Cras tempor pharetra felis, ac aliquam ante viverra sit amet. Integer dapibus sem quis sem fermentum, sed lobortis quam sollicitudin. Nunc fringilla, quam sit amet suscipit pharetra, enim nunc eleifend massa, at finibus odio tortor et metus. Morbi lectus neque, vehicula a lobortis a, convallis nec tortor. Nulla nec venenatis eros. Nulla consectetur laoreet volutpat. Nullam ac ipsum cursus dui ornare cursus id a felis. Praesent leo nulla, pharetra eu turpis sed, laoreet maximus libero. Morbi fermentum, sapien finibus dictum suscipit, ex eros consectetur eros, vel volutpat ipsum justo id ligula.

        p Etiam tristique ex sed turpis sollicitudin imperdiet. Fusce eu aliquet dolor. Nullam id erat tincidunt, condimentum erat ut, luctus quam. Nulla ac est nec purus facilisis aliquam. Vivamus congue porta lorem, ut tristique ante rhoncus eu. Vestibulum consectetur sem et odio efficitur, et eleifend odio sodales. Suspendisse dapibus sed augue non lacinia. Mauris rhoncus dapibus lorem eu ultricies. Sed pretium imperdiet nibh, eget dapibus ligula porttitor ac. Ut hendrerit urna eget eros volutpat, eget ullamcorper ligula sodales. Nullam ut massa a est lacinia convallis vehicula id ipsum. Vestibulum ultricies malesuada egestas. Cras risus nisl, bibendum sed quam in, dictum scelerisque leo. Quisque convallis nec nulla non rhoncus. Aenean et turpis sed arcu lobortis condimentum.

        p Suspendisse hendrerit vel nulla id lacinia. Nunc sed felis tristique, aliquet ex sit amet, vulputate ante. Morbi tortor mi, euismod non ex at, aliquam accumsan nisl. Duis blandit elit ultricies, imperdiet felis tincidunt, placerat eros. Sed vitae arcu sed mi dignissim sollicitudin vitae quis felis. Sed bibendum sodales velit, in iaculis quam congue et. Curabitur sagittis ultricies urna, ac mollis purus dapibus at. Integer luctus mollis fringilla. Vivamus sit amet dolor sem. Cras semper metus neque, ultricies consectetur nibh condimentum eget. Morbi congue semper blandit. Phasellus lacinia sollicitudin facilisis. Praesent elit ante, congue eu nulla ornare, hendrerit euismod tortor. Nulla vitae nulla nec nibh tempus tincidunt. Suspendisse varius tempor varius. Pellentesque at ex in leo sodales efficitur.

.section-8
  article.container
    .content
      h1 Consejo directivo
      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd
