.section-5
  article.container
    .content
      h1 Financiamiento Total
      .panel-text
        p Entre los resultados más relevantes obtenidos por BANCOMEXT en 2017, destacan:

        p El saldo total de cartera de crédito en primer y segundo piso, garantías e inducido, al cierre de diciembre de 2017, ascendió a 253,739 millones de pesos, 1.3% superior en términos reales al observado al mismo mes de 2016.

        p En el sector privado, el financiamiento ascendió a 248,414 millones de pesos, que significa un crecimiento del 3.2% en términos reales.

        p El saldo de crédito inducido otorgado por BANCOMEXT en 2017, incluyendo avales, garantías, cartas de crédito, se incrementó de 41,053 a 43,543 millones de pesos.

        p El saldo del crédito otorgado a través de Intermediarios Financieros pasó de 25,261 a 31,354 millones de pesos, lo que representa un aumento del 16.2% en términos reales.

        p Los saldos de cartera por moneda de origen nacional y extranjera mostraron un crecimiento al pasar de 80,413 a 104,359 millones de pesos y de 7,473 a 7,597 millones de dólares, respectivamente.
