footer.footer(role='contentinfo')
  .container
    div
      p.uppercase Informe anual 2017
    div
      ul
        li: a(href="estados-financieros.html") Estados financieros
        li: a(href="bancomext.html") Bancomext
        li: a(href="entorno-economico.html") Entorno económico
        li: a(href="estrategia-de-negocios.html") Estrategia de negocios
    div.flex
      ul
        li: a(href="administracion-integral-de-riesgos.html") Administración integral de riesgos
        li: a(href="modelo-de-negocios.html") Modelo de negocios
        li: a(href="tesoreria-y-mercados.html") Tesorería y mercados
        li: a(href="otras-actividades.html") Otras actividades
        li: a(href="informacion-financiera.html") Información financiera

      img(src="/img/logo-alt.png")

    div
      .social-media
        a(href="#" target="_blank" aria-label="Bancomext en Twitter"): i.fab.fa-twitter
        a(href="#" target="_blank" aria-label="Bancomext en Facebook"): i.fab.fa-facebook-f
        a(href="#" target="_blank" aria-label="Bancomext en Youtube"): i.fab.fa-youtube
      p Teléfono: +52 (55) 5449 9000
      p E-mail:
        a(href="mailto:bancomext@bancomext.gob.mx") bancomext@bancomext.gob.mx
      p Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,
        br
        | Tlalpan, Ciudad de México, C.P. 14210
      p Última actualización: 15/05/2018

// Scripts bundle
script(src='js/bundle.min.js')
