section.hero
  .container
    .flex
      img(src="/img/logo.png")
      div
        h1 Informe anual 2017
        h2 Impulsando la formación de capital y la productividad en México
    a.download(href="estados-financieros.html") Estados financieros 2017
      i.fas.fa-download
