doctype html
html(lang='es').no-js
  head
    include includes/head
    include includes/mixins
  body
    header(role='banner').hero.small
      .container
        .flex
          img(src="/img/logo.png")
          div
            h1 Informe anual 2017
            h2 Impulsando la formación de capital y la productividad en México
        a.download(href="#") Estados financieros 2017
          i.fas.fa-download


    nav(role='navigation').nav
        ul
          li.nav-item-section-1
            a(href="bancomext.html") Bancomext
              i.fas.fa-caret-down
          li.nav-item-section-2.active
            a(href="entorno-economico.html") Entorno económico
              // i.fas.fa-caret-down

    main
      include content/entorno-economico

    nav(role='navigation').nav
        ul
          li.nav-item-section-3
            a(href="estrategia-de-negocios.html") Estrategia de negocios
              i.fas.fa-caret-down
          li.nav-item-section-4
            a(href="administracion-integral-de-riesgos.html") Administración integral de riesgos
              i.fas.fa-caret-down
          li.nav-item-section-5
            a(href="modelo-de-negocios.html") Modelo de negocios
              i.fas.fa-caret-down
          li.nav-item-section-6
            a(href="tesoreria-y-mercados.html") Tesorería y mercados
              i.fas.fa-caret-down
          li.nav-item-section-7
            a(href="otras-actividades.html") Otras actividades
              i.fas.fa-caret-down
          li.nav-item-section-8
            a(href="informacion-financiera.html") Información financiera
              i.fas.fa-caret-down
          //- Blank item, at the end of the menu
          li.nav-item-section-blank: a




    //- ==================
    //- FOOTER
    //- ==================
    include includes/footer
