
// ==========
// = Vars
// ==========
$c-text: #333
$c-label: #8EA7A8
$c-border: #BED2D3

$c-section-1: #065674
$c-section-2: #006767
$c-section-3: #2F9A67
$c-section-4: #48C2C6
$c-section-5: #6DA3AF
$c-section-6: #034C67
$c-section-7: #0085B2
$c-section-8: #41BAEB

$c-footer: #EDECE6


$light-blue: #B5E3EF


$spacer: 20px
$time: 0.3s

$container-width: 1000px
$desktop: 1020px
$tablet: 999px
$phablet: 730px
$mobile: 590px

// ==========
// = Mixins
// ==========

// Center
=center($xy:xy)
  @if $xy == xy
    position: absolute
    left: 50%
    top: 50%
    bottom: auto
    right: auto
    transform: translateX(-50%) translateY(-50%)

  @else if $xy == x
    position: absolute
    left: 50%
    right: auto
    transform: translateX(-50%)

  @else if $xy == y
    position: absolute
    top: 50%
    bottom: auto
    transform: translateY(-50%)

// Fonts
=fonts($font, $weight)
  font-weight: $weight
  font-family: $font, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// ==========
// = Silent
// ==========
%flex-center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
